@import url("./normalize.css");
@import url("./reset.local.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

:root {
    --black: #090909;
    --gray: #808080;
    --l-gray: #cccccc;
    --white: #ffffff;

    --screen-padding-w: 1rem;
    --screen-padding-h: 2rem;
    --section-padding-w: 0rem;

    --button-size: 1.9rem;
    --spacer-around-button: 1.2;

    --jump-ease: cubic-bezier(0.77, 0.2, 0.05, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "IBM Plex Mono", monospace;

    /* Fluid typography */
    /* https://css-tricks.com/simplified-fluid-typography/ */
    --minFontSize: 8px;
    --maxFontSize: 22px;
    --scaler: 4.25vw;
    /* font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize)); */

    font-size: 16px;

    color: #fff;
}

html,
body {
    width: 100vw;
    height: 100vh;

    background: var(--black);

    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 1rem;
    color: var(--gray);
}
h2 {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 0.04rem;
    margin-bottom: 1rem;
}

input {
    outline: none;
    background: none;

    border-width: 0 0 2px;
    border-color: var(--white);
    border-style: solid;

    margin-bottom: 1.8rem;

    width: 100%;
    height: 2.2rem;

    color: var(--l-gray);
}

input:focus::placeholder {
    opacity: 0.2;
}

p {
    margin: 1.3rem 0;

    --offset: 1rem;

    transform: translateY(var(--offset));

    animation: slide-up 2s ease forwards;
    animation-delay: 0.1s;
}

a {
    color: var(--gray);
}

/* Utilities */

.container {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
}

.btn {
    display: block;

    min-width: 10rem;

    position: relative;

    padding: 0.8rem 1.7rem;

    border: 2px solid var(--white);

    background: var(--black);

    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.04rem;

    overflow: hidden;
}

.btn:hover {
    color: var(--black);

    background: var(--white);
}

.btn::before {
    content: attr(data-text);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--black);

    color: var(--white);

    transform-origin: 35% 40%;
    transform: none;

    transition: transform 0.5s var(--jump-ease);
}
.btn:hover::before {
    background-color: var(--white);

    color: var(--black);

    transform: rotate(9deg);
    transition-delay: 0.1s;
}

.arrowed {
    display: inline-block;

    padding: 0.8rem 1rem;

    font-size: 0.95rem;
    letter-spacing: 0.04rem;
    font-weight: 500;

    position: relative;
}

.arrowed::after {
    content: "→";

    position: absolute;
    right: 0;

    transition: all 0.5s ease 0.1s;
}
.arrowed:hover::after {
    color: var(--l-gray);
}

.arrowed.arr-bk::after {
    transform: rotate(180deg);
}

.gray {
    color: var(--gray);
}

.small {
    font-size: 1em;
}

.bigger {
    font-size: 1.2rem;
}

/* ---------- */
/* Main style */
/* ---------- */

#body-container {
    height: 100%;
    width: 100%;

    padding-top: var(--screen-padding-h);
    padding-bottom: calc(var(--screen-padding-h) * 2);

    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr auto;

    /* outline: 3px solid #dd0000aa; */

    opacity: 0;

    animation: fade-in 2s ease forwards;
}

#body-container > * {
    width: 100vw;
    height: 100%;

    padding: 0 calc(1.4 * var(--screen-padding-w));

    /* outline: 1px solid #00dd00aa; */
}

/* Header */

#header {
    position: fixed;
    top: var(--screen-padding-h);
    left: 0;
    z-index: 1;

    height: var(--button-size);

    align-items: flex-start;
}

#header .languages,
#header .languages a {
    color: var(--white);
}

#menu ul li a {
    transition: all 0.2s ease;
}
#menu ul li a:hover {
    color: var(--gray);
}

/* Main */

#main {
    position: relative;

    padding: 0;
}

#main #tag-image {
    background: url("/img/tag-big.png") no-repeat center center;
    /* background-size: contain; */

    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    opacity: 0.1;
}

/* Showcase */

#showcase {
    /* width: 100vw; */
    height: 100%;

    /* position: absolute;
    top: 0;
    left: 0; */

    /* border: 2px solid yellow; */

    /* padding: 0 calc(1.4 * var(--screen-padding-w)); */

    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
}

#showcase > section {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    overflow: visible;
}

#showcase > section .section-container {
    width: 100vw;

    margin-bottom: calc(var(--screen-padding-h) * 4);
    padding: var(--button-size)
        calc(var(--screen-padding-w) + var(--section-padding-w));

    overflow: auto;

    /* border: 1px solid purple; */
}

#showcase > section p.home-p {
    font-size: 1.7rem;
    line-height: 2.6rem;
}

#showcase > section p {
    color: var(--l-gray);
    font-weight: 500;
    line-height: 1.5rem;
}

#showcase > section .buttons-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
}

/* Footer */

#footer {
    justify-content: space-around;
}

/* -------------------- */
/* Animation keyframes  */
/* -------------------- */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(var(--offset));
    }

    100% {
        transform: translateY(0);
    }
}

/* ------------------- */
/* Hamburger Main Menu */
/* ------------------- */
/* https://codepen.io/erikterwan/pen/EVzeRP */

#menuToggle {
    --button-size: 30px;

    display: block;
    width: var(--button-size);
    height: var(--button-size);

    position: relative;
    top: 0;
    right: 0;

    z-index: 201;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: calc(var(--button-size) * var(--spacer-around-button));
    height: calc(var(--button-size) * var(--spacer-around-button));

    position: absolute;
    top: 0;
    right: 25%;
    /* and place it over the hamburger */
    z-index: 202;

    transform: translate(25%, -25%);

    cursor: pointer;

    /* hide this */
    opacity: 0;

    -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#menuToggle span {
    display: block;

    width: 100%;
    height: 2px;
    margin-bottom: 6px;

    position: relative;
    top: 0;
    right: 0;
    z-index: 201;

    background: var(--white);
    border-radius: 3px;

    transform-origin: 4px 0;

    transition: transform 0.5s var(--jump-ease), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* Transform hamburger x3 into "X" */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--l-gray);
}

/* But let's hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* The last one go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned
   at the top left of the screen */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100vw;
    height: 100vh;

    background: var(--black);

    /* to stop flickering of text in safari */
    -webkit-font-smoothing: antialiased;

    opacity: 0;

    transform: translateX(-100vw);

    transition: opacity 0.5s 0.3s var(--jump-ease),
        transform 0s 1s var(--jump-ease);
}

/* And let's slide it in from the left */
#menuToggle input:checked ~ #menu {
    opacity: 1;

    transform: none;
    transition-delay: 0s, 0s;
}

#menu ul {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 100%;
}

/* create index variable for every language
to run them on one formula */
#menu ul > *:nth-child(1) {
    --delay-index: 1;
}
#menu ul > *:nth-child(2) {
    --delay-index: 2;
}
#menu ul > *:nth-child(3) {
    --delay-index: 3;
}
#menu ul > *:nth-child(4) {
    --delay-index: 4;
}
#menu ul > *:nth-child(5) {
    --delay-index: 5;
}

#menu ul li {
    display: block;

    padding: 10px 0;
    font-size: 1.5rem;

    opacity: 0;

    transition: all 0.2s calc(0.2s - 0.04s * var(--delay-index)) linear;
}

#menuToggle input:checked ~ #menu ul li {
    opacity: 1;
    transition-delay: calc(0.2s + 0.1s * var(--delay-index));
}

#menuToggle a {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
}

/* ------------- */
/* Language Menu */
/* ------------- */
/* https://codepen.io/erikterwan/pen/EVzeRP */

#langMenuToggle {
    display: block;
    width: var(--button-size);
    height: var(--button-size);

    position: relative;
    top: 0;
    left: 0;

    z-index: 101;

    -webkit-user-select: none;
    user-select: none;
}

#langMenuToggle input {
    display: block;
    width: calc(var(--button-size) * var(--spacer-around-button));
    height: calc(var(--button-size) * var(--spacer-around-button));

    position: absolute;
    top: 0;
    left: 25%;
    /* and place it over the hamburger */
    z-index: 102;

    transform: translate(-25%, -25%);

    cursor: pointer;

    /* hide this */
    opacity: 0;

    -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#langMenuToggle span {
    display: block;

    width: 100%;
    height: 100%;

    position: relative;
    top: 0;
    left: 0;

    z-index: 101;
}

#langMenuToggle span a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Make this absolute positioned
   at the top left of the screen */
#langMenu {
    position: absolute;
    left: 0;
    right: 0;

    width: auto;

    /* to stop flickering of text in safari */
    -webkit-font-smoothing: antialiased;

    transform: translateX(-200%);

    transition-delay: 1s;
    transition: transform 0 linear;
}

#langMenu::before {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: var(--white);
}

/* And let's slide it in from the left */
#langMenuToggle input:checked ~ #langMenu {
    transform: none;
    transition-delay: 0s;
}

#langMenu ul {
    position: relative;
    top: -1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* create index variable for every language
to run them on one formula */
#langMenu ul > *:nth-child(1) {
    --delay-index: 0;
}
#langMenu ul > *:nth-child(2) {
    --delay-index: 1;
}

#langMenu ul li {
    display: block;

    margin-top: calc(var(--screen-padding-h) * 1.5);

    transform: translateX(-200%);

    opacity: 0;

    /* transition-delay: calc(var(--delay-index) * 1.5s); */
    transition: transform 0.5s var(--jump-ease), opacity 0.5s var(--jump-ease);
    transition-delay: calc(0.2s - 0.1s * var(--delay-index));
}

#langMenuToggle input:checked ~ #langMenu ul li {
    opacity: 1;

    transform: none;

    transition-delay: calc(0.1s * var(--delay-index));
}

#langMenu ul li a {
    padding: 0.5rem;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

/* Landscape phone & small tablets */
@media (min-width: 576px) {
    :root {
        /* --screen-padding-w: 1rem; */
        --screen-padding-h: 1rem;
        --section-padding-w: 2rem;
    }

    html {
        /* font-size: min(max(1em, max(2vw, 2vh)), 17px); */
        font-size: 14px;
    }

    input {
        margin-bottom: 1rem;
    }

    #main #showcase .section-container {
        margin-bottom: calc(var(--screen-padding-h) * 1);
    }
}

/* Small screens & Tablets */
@media (min-width: 769px) and (min-height: 600px) {
    :root {
        --screen-padding-w: 2rem;
        --screen-padding-h: 1rem;
        --section-padding-w: 4rem;
    }

    html {
        /* font-size: min(max(1em, max(2vw, 2vh)), 17px); */
        font-size: 20px;
    }

    input {
        margin-bottom: 1rem;
    }

    #main #showcase .section-container {
        margin-bottom: calc(var(--screen-padding-w) * 1);
    }
}

/* Desktop */
@media (min-width: 1200px) and (min-height: 600px) {
    :root {
        /* --screen-padding-w: 1rem; */
        --screen-padding-h: 1rem;
        --section-padding-w: 8rem;
    }

    html {
        /* font-size: min(max(1em, max(2vw, 2vh)), 17px); */
        font-size: 18px;
    }

    #main #showcase .section-container {
        margin-bottom: calc(var(--screen-padding-w) * 1);
    }
}
