:root {
    --width: 100vw;
}

body {
    background: #000;
    color: #fff;
}
a {
    color: #fff;
}
#gallerywrapper {
    width: var(--width);
    height: 450px;
    margin: 0 auto;
    position: relative;
    font-family: verdana, arial, sans-serif;
}

#gallerywrapper #gallery {
    position: absolute;
    left: 0;
    top: 0;
    height: 450px;
    width: var(--width);
    overflow: hidden;
    text-align: center;
}

#gallerywrapper #gallery div {
    width: var(--width);
    height: 900px;
    padding-top: 10px;
    position: relative;
}

#gallerywrapper #gallery div img {
    clear: both;
    display: block;
    margin: 0 auto;
    border: 0;
}

#gallerywrapper #gallery div h3 {
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 18px;
}

#gallerywrapper #gallery div p {
    padding: 5px 0;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

#gallery .previous {
    display: inline;
    float: left;
    margin-left: 80px;
    text-decoration: none;
}

#gallery .next {
    display: inline;
    float: right;
    margin-right: 80px;
    text-decoration: none;
}
