body {
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #0f1111;
    font-size: 14px;
    line-height: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div,
img {
    /* outline: 1px solid hsla(25, 75%, 47%, 0.245); */
}
a {
    text-decoration: none;
    color: #007185;
}
a:hover {
    color: #c7511f;
}
.fl {
    display: flex;
}
.fl-1 {
    flex: 1;
}
.fl-full-c {
    justify-content: center;
    align-items: center;
    align-content: center;
    /* flex-wrap: wrap; */
}
.fl-col {
    flex-direction: column;
}
.fl-hor-r {
    justify-content: flex-end;
}
.op-0 {
    opacity: 0;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.sprite-main {
    background-image: url(../img/sprite-main.png);
}
.sprite-lang-flag {
    background: url(../img/sprite-langs.png);
    display: inline-block;
    width: 24px;
    height: 18px;
    scale: 0.9;
}
.lang-usa {
    background-position: 0 -130px;
}
#navbar {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: 400;
}
#navbar .btn-type {
    cursor: pointer;
    height: 50px;
    padding: 0 9px;
    margin-left: 6px;
    border: 1px solid transparent;
    border-radius: 2px;
}
#navbar .btn-type:hover {
    border-color: #fff;
}
#navbar .line-1 {
    width: 100%;
}
#navbar .line-2 {
    font-size: 14px;
    font-weight: 700;
}
#navbar .deliver-to {
    color: #ccc;
}
#nav-top {
    background: #131921;
    height: 60px;
    padding: 0px 15px 0px;
}
#nav-top .amazon-logo-big {
    background-position: -10px -51px;
    width: 97px;
    height: 30px;
}
#nav-top #nav-logo {
    margin-left: 0;
}
#nav-top .geo {
    background-position: -71px -378px;
    width: 15px;
    height: 18px;
    margin: 7px 3px 0 0;
}
#nav-top .cart-count {
    font-size: 16px;
    font-weight: 700;
    color: #f08804;

    position: absolute;
    left: 18px;
    top: -4px;
}
#nav-top .cart-icon {
    background-position: -10px -340px;
    width: 38px;
    height: 26px;

    position: relative;
}
#nav-top #search-form {
    margin: 0 6px;
    padding: 10px 4px;
}
#nav-top #search-form .search-container:has(input:focus-visible) {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 153 0 / 50%);
}
#nav-top input {
    height: 40px;
    width: 100%;
    font-size: 14px;
}
#nav-top #search-cat {
    overflow: hidden;
    border-radius: 4px 0 0 4px;
}
#nav-top #search-cat #select-cat {
    top: 2px;
    height: 35px;
}
#nav-top #search-cat .search-fake-select {
    min-width: 19px;
    height: 40px;
    padding: 0 9px 0 9px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-right: 1px solid #cdcdcd;
    color: #555;
}
#nav-top #search-cat:hover .search-fake-select {
    background-color: #dadada;
    border-top-color: #dadada;
    border-bottom-color: #dadada;
    border-left-color: #dadada;
    color: #000;
}
#nav-top #search-cat:has(:focus-visible) {
    box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 153 0 / 50%);
}

#nav-top #search-cat .search-fake-select .arr-dwn {
    margin-left: 5px;
    color: #666;
}
#nav-top #search-cat:hover .search-fake-select .arr-dwn {
    color: #000;
}
#nav-top .search-text {
    color: #111;
    padding: 7px 10px 10px 0;
    font-size: 15px;
    text-indent: 8px;

    border: none;
    outline: none;
}
#nav-top .search-submit {
    background-position: 2px -280px;
    background-color: #febd69;
    border-radius: 0 4px 4px 0;
    border: none;
    width: 45px;
    cursor: pointer;
}
#nav-top .search-submit:hover {
    background-color: #f3a847;
}
#nav-top .search-submit:active {
    box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 153 0 / 50%);
}
#nav-top .arr-dwn {
    margin: 4px 0 0 3px;
    color: #a7acb2;
}
