@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-primary text-primary font-sans text-base;
  }

  a {
    @apply text-white hover:underline;

    &[target='_blank']::after {
      content: url('/arrow-link.svg');
      padding-left: 0.1rem;
      display: inline-block;
      width: 1em;
    }
  }

  ul > li {
    @apply list-inside list-disc md:list-none;
  }
}

@tailwind components;
@tailwind utilities;
